XProcMLAdmin/temp/apidoc/host-status.xml

<!-- Copyright 2002-2009 Mark Logic Corporation.  All Rights Reserved. -->
<xs:schema targetNamespace="http://marklogic.com/xdmp/status/host" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd" attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns="http://marklogic.com/xdmp/status/host" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <xs:simpleType name="cpus">
    <xs:annotation>
      <xs:documentation>
        A count of CPUs.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>
  <xs:element name="cpus" type="cpus" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The number of CPUs.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="cores">
    <xs:annotation>
      <xs:documentation>
        A count of cores.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>
  <xs:element name="cores" type="cores" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The number of cores.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="device-space">
    <xs:annotation>
      <xs:documentation>
        An amount (in MB) of space left on a device.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>
  <xs:element name="host-size" type="device-space" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The total data size of the host.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="log-device-space" type="device-space" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The number of MB left on log device.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="data-dir-space" type="device-space" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The number of MB left on data dir.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="online" type="boolean" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Is this host seen as online? (true for online)
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="secure" type="boolean" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Is communication secured with SSL?
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="connect-port" type="port" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The distributed protocol client socket connect internet port number.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="bind-port" type="port" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The distributed protocol server socket bind internet port number.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="host-name">
    <xs:annotation>
      <xs:documentation>
        The name of a Host
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[^ ].*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="host-name" type="host-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The internet host name.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="last-online" type="timestamp" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The time the host went online.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="last-offline" type="timestamp" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The time the host went offline.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="host" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        The host specification.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element ref="host-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="connect-port" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="online" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="secure" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="last-online" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="last-offline" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="host" type="host" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The host connection information
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="hosts" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A set of hosts as seen by the host.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="host" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="hosts" type="hosts" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The host's view of all other hosts in the cluster.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="forest-name">
    <xs:annotation>
      <xs:documentation>
        The forest name.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1" fixed="false"/>
      <xs:pattern value="([^\\*?/:&lt;&gt;|&quot; \.])|([^\\*?/:&lt;&gt;|&quot; \.][^\\*?/:&lt;&gt;|&quot;]*[^\\*?/:&lt;&gt;|&quot; \.])"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="forest-name" type="forest-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The forest name.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="forest-state">
    <xs:annotation>
      <xs:documentation>
        A forest state.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Error"/>
      <xs:enumeration value="Unmounted"/>
      <xs:enumeration value="Mounted"/>
      <xs:enumeration value="Converting"/>
      <xs:enumeration value="Recovering"/>
      <xs:enumeration value="Open"/>
      <xs:enumeration value="StartClosing"/>
      <xs:enumeration value="FinishClosing"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="forest-state" type="forest-state" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The state of the forest.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <!--
  <xs:simpleType name="forest-id">
    <xs:annotation>
      <xs:documentation>
        A forest unique id (64-bit value).
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="forest-id" type="forest-id">
    <xs:annotation>
      <xs:documentation>
        The unique key of a forest.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  -->
  <xs:complexType name="assignment" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A forest assignment.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="forest-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forest-id" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="assignment" type="assignment" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The forest configuration as seen by the host.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="assignments" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A set of forest assignments
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="assignment" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="assignments" type="assignments" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Forest assignments as the host sees them.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="task-server-id">
    <xs:annotation>
      <xs:documentation>
        A task server id.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:element name="task-server-id" type="task-server-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The task server id.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="task-server" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A task server running on a host.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="task-server-id" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="task-server" type="task-server" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The task server on a host.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="xdbc-server-id">
    <xs:annotation>
      <xs:documentation>
        An XDBC server id.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:element name="xdbc-server-id" type="xdbc-server-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The XDBC server id.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="xdbc-server" type="xdbc-server" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The XDBC server running on a host.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="xdbc-server" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        An XDBC application server specification.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="xdbc-server-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="port" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="xdbc-servers" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A set of xdbc-servers a host is running.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="xdbc-server" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="xdbc-servers" type="xdbc-servers" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The XDBC servers running on the host.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="webDAV" type="boolean" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        webDAV server versus HTTP server.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="http-server-id">
    <xs:annotation>
      <xs:documentation>
        An HTTP server id.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:element name="http-server-id" type="http-server-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The HTTP server id.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="port">
    <xs:annotation>
      <xs:documentation>
        An integer internet port number, min 1, max 65534.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1" fixed="false"/>
      <xs:maxInclusive value="65534" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="port" type="port" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The server socket bind internet port number.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="http-server" type="http-server" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The HTTP server running on a host.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="http-server" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        An HTTP application server specification.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="http-server-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="port" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="webDAV" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="http-servers" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A set of http-servers a host is running.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="http-server" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="http-servers" type="http-servers" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The HTTP servers running on the host.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="tokenizer-timestamp" type="config-timestamp" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The timestamp of the tokenizer config file.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="mimetypes-timestamp" type="config-timestamp" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The timestamp of the mimetypes config file.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="databases-timestamp" type="config-timestamp" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The timestamp of the databases config file.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="assignments-timestamp" type="config-timestamp" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The timestamp of the assignments config file.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="hosts-timestamp" type="config-timestamp" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The timestamp of the hosts config file.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="groups-timestamp" type="config-timestamp" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The timestamp of the groups config file.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="config-timestamp">
    <xs:annotation>
      <xs:documentation>
        A configuration file timestamp
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:complexType name="config-file-timestamps" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A set of configuration file timestamps
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="groups-timestamp" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="hosts-timestamp" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="databases-timestamp" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="assignments-timestamp" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="tokenizer-timestamp" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="mimetypes-timestamp" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="config-file-timestamps" type="config-file-timestamps" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The timestamps of the host's config files.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="accepted-agreement">
    <xs:annotation>
      <xs:documentation>
        An accepted agreement.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:element name="accepted-agreement" type="accepted-agreement" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The last accepted agreement.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="accepted-licensee">
    <xs:annotation>
      <xs:documentation>
        An accepted licensee.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:element name="accepted-licensee" type="accepted-licensee" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The last accepted licensee.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="licensee">
    <xs:annotation>
      <xs:documentation>
        A licensee.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:element name="licensee" type="licensee" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The host licensee.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="accepted-version" type="version" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The last accepted version.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="version">
    <xs:annotation>
      <xs:documentation>
        A version of the product.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:element name="version" type="version" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The version of the product.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="architecture">
    <xs:annotation>
      <xs:documentation>
        A architecture of the product.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:element name="architecture" type="architecture" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The achitecture of the product.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="last-startup" type="last-startup" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The timestamp of last host startup
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="last-startup">
    <xs:annotation>
      <xs:documentation>
        A timestamp of the last time the host started up.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="boolean">
    <xs:annotation>
      <xs:documentation>
        true or false
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="group-id">
    <xs:annotation>
      <xs:documentation>
        A group unique id (64-bit value).
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:element name="group-id" type="group-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The group the host belongs to.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="host-id">
    <xs:annotation>
      <xs:documentation>
        A host unique id (64-bit value).
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:element name="host-id" type="host-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The unique ID of a host.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="license-key">
    <xs:annotation>
      <xs:documentation>
        A license key.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:element name="license-key" type="license-key" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The license key for this host.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="license-key-expires">
    <xs:annotation>
      <xs:documentation>
        When does the license key expire
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:element name="license-key-expires" type="license-key-expires" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        When does the license key for this host expire.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="pre-release-expires">
    <xs:annotation>
      <xs:documentation>
        When does the pre-release expire
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:element name="pre-release-expires" type="pre-release-expires" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        When does the pre-release for this host expire.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="license-key-cpus">
    <xs:annotation>
      <xs:documentation>
        Number of cpus for a license key.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>
  <xs:element name="license-key-cpus" type="license-key-cpus" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        How many cpus does this license key support.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="license-key-cores">
    <xs:annotation>
      <xs:documentation>
        Number of cores for a license key.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>
  <xs:element name="license-key-cores" type="license-key-cores" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        How many cores does this license key support.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="license-key-size">
    <xs:annotation>
      <xs:documentation>
        Database size that a license key supports.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>
  <xs:element name="license-key-size" type="license-key-size" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        What size database does this license key support.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="license-key-options" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A set of license key options.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element ref="license-key-option" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="license-key-options" type="license-key-options" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The options that this host's license key provides.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="license-key-option">
    <xs:annotation>
      <xs:documentation>
        A license key option
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="conversion"/>
      <xs:enumeration value="failover"/>
      <xs:enumeration value="English"/>
      <xs:enumeration value="French"/>
      <xs:enumeration value="Italian"/>
      <xs:enumeration value="German"/>
      <xs:enumeration value="Spanish"/>
      <xs:enumeration value="Traditional Chinese"/>
      <xs:enumeration value="Simplified Chinese"/>
      <xs:enumeration value="Arabic"/>
      <xs:enumeration value="Russian"/>
      <xs:enumeration value="Dutch"/>
      <xs:enumeration value="Korean"/>
      <xs:enumeration value="Persian"/>
      <xs:enumeration value="Portuguese"/>
      <xs:enumeration value="geospatial"/>
      <xs:enumeration value="alerting"/>
      <xs:enumeration value="entity enrichment"/>
      <xs:enumeration value="Outside In conversion"/>
      <xs:enumeration value="Japanese"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="license-key-option" type="license-key-option" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        A license key option.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="edition">
    <xs:annotation>
      <xs:documentation>
        A host edition.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Standard"/>
      <xs:enumeration value="Enterprise"/>
      <xs:enumeration value="None"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="edition" type="edition" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The edition of this host.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="error">
    <xs:annotation>
      <xs:documentation>
        An error processing host status.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:element name="error" type="error" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The error in processing host status.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="current-time" type="timestamp" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The current time.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="path">
    <xs:annotation>
      <xs:documentation>
        A file system path.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:element name="path" type="path" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The path of the stand.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="forest-id">
    <xs:annotation>
      <xs:documentation>
        The unique id of the forest.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:element name="forest-id" type="forest-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The unique id of the forest.
      </xs:documentation>
      <xs:appinfo>
        <admin:hidden>true</admin:hidden>
        <admin:default>xdmp:random()</admin:default>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="status">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="queued"/>
      <xs:enumeration value="in-progress"/>
      <xs:enumeration value="failed"/>
      <xs:enumeration value="canceled"/>
      <xs:enumeration value="completed"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="status" type="status" abstract="false" nillable="false"/>
  <xs:complexType name="forest" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A forest with id and status
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="forest-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="status" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="forest" type="forest" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        A forest with id and status
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="forests" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A set of forests
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="forest" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="forests" type="forests" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The forests in a backup/restore job
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="job-id">
    <xs:annotation>
      <xs:documentation>
        A job unique id.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:element name="job-id" type="job-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The unique ID of a job.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="start-time" type="timestamp" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The time a backup or restore started.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="timestamp">
    <xs:annotation>
      <xs:documentation>
        A timestamp of an event.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:complexType name="backup-job" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A backup job.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="job-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="path" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="start-time" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forests" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="backup-job" type="backup-job" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The backup job.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="backup-jobs" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A sequence of backup jobs.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="backup-job" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="backup-jobs" type="backup-jobs" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The backup jobs the host is processing.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="restore-job" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A restore job.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="job-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="path" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="start-time" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forests" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="restore-job" type="restore-job" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The restore job.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="restore-jobs" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A sequence of restore jobs.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="restore-job" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="restore-jobs" type="restore-jobs" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The restore jobs the host is processing.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="memory-size">
    <xs:annotation>
      <xs:documentation>
        A number of megabytes of memory.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>
  <xs:simpleType name="percentage">
    <xs:annotation>
      <xs:documentation>
        A percentage.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:float"/>
  </xs:simpleType>
  <xs:element name="partition-size" type="memory-size" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The size of a cache partition, in megabytes.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="partition-table" type="percentage" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The percentage of the table for a cache partition 
	that is currently used.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="partition-busy" type="percentage" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The percentage of the space in a cache partition 
	that is currently used and cannot be freed.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="partition-used" type="percentage" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The percentage of the space in a cache partition 
	that is currently used.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="partition-free" type="percentage" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The percentage of the space in a cache partition 
	that is currently free.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="partition-overhead" type="percentage" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The percentage of the space in a cache partition 
	that is currently overhead.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="compressed-tree-cache-partition" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A compressed-tree cache partition.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="partition-size" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-table" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-used" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-free" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-overhead" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="compressed-tree-cache-partition" type="compressed-tree-cache-partition" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The compressed-tree cache partition.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="compressed-tree-cache-partitions" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A sequence of compressed-tree cache partitions.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="compressed-tree-cache-partition" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="compressed-tree-cache-partitions" type="compressed-tree-cache-partitions" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The compressed-tree cache partitions on the host.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="expanded-tree-cache-partition" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A expanded-tree cache partition.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="partition-size" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-table" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-busy" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-used" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-free" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-overhead" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="expanded-tree-cache-partition" type="expanded-tree-cache-partition" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The expanded-tree cache partition.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="expanded-tree-cache-partitions" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A sequence of expanded-tree cache partitions.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="expanded-tree-cache-partition" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="expanded-tree-cache-partitions" type="expanded-tree-cache-partitions" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The expanded-tree cache partitions on the host.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="list-cache-partition" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A list cache partition.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="partition-size" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-table" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-busy" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-used" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-free" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-overhead" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="list-cache-partition" type="list-cache-partition" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The list cache partition.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="list-cache-partitions" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A sequence of list cache partitions.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="list-cache-partition" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="list-cache-partitions" type="list-cache-partitions" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The list cache partitions on the host.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="host-status" mixed="false" abstract="false">
    <xs:annotation>
      <xs:documentation>
        A host status element.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element ref="host-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="error" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="host-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="group-id" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="current-time" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="bind-port" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="connect-port" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="last-startup" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="version" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="architecture" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="license-key" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="licensee" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="license-key-expires" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="license-key-cpus" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="license-key-cores" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="license-key-size" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="license-key-options" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="pre-release-expires" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="accepted-version" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="accepted-agreement" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="accepted-licensee" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="edition" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="cpus" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="cores" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="host-size" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="log-device-space" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="data-dir-space" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="config-file-timestamps" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="http-servers" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="xdbc-servers" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="task-server" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="assignments" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="hosts" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="backup-jobs" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="restore-jobs" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="compressed-tree-cache-partitions" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="expanded-tree-cache-partitions" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-cache-partitions" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="host-status" type="host-status" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The status of a host
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
</xs:schema>
